$primary: #ccc;
$secondary: #606060;
body {
  border-top: 2px solid #c90c41;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

header {
  position: relative;
  display: flex;

  h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: $primary;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
  }
}

.banner-nav {
  display: none;
}

.banner-nav-sp {
  background-size: cover;
  display: block;
  height: auto;
}

@media (min-width: 320px) {
  h1 {
    display: none;
  }

  img {
    width: 100%;
  }

  ul {
    list-style: none;
    li {
      width: 100%;
      position: relative;

      a {
        background-color: rgba(0, 0, 0, 0.9);
        width: 80%;
        padding: 11% 10px;
        text-decoration: none;
        color: #ccc;
        font-size: 1.5rem;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
      }
    }
  }
  .inner-banner {
    width: 100%;
  }
  .selection {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;

    p {
      margin-left: 20px;
      color: #c90c41;
      display: block;
      font-size: 2rem;
      font-weight: 600;
      width: 50%;
      margin-top: 0;
    }
    span {
      color: $primary;
      font-size: 1rem;
      font-weight: 200;
    }

    .selection-wheel {
      color: white;

      ul {
        margin-left: 22px;
        margin-right: 22px;

        li {
          margin-left: 30px;
          font-size: 1rem;
          padding: 3px 10px 3px 10px;
          list-style: none;
          position: relative;
          margin: 1.144rem;

          span {
            font-size: 0.75rem;
            padding-right: 20px;
          }

          &:before {
            content: "";
            background: url(../images/Nissan_VisualLearnMap_wheelicon.png);
            height: 59px;
            width: 59px;
            position: absolute;
            left: -70px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  h1 {
    display: none;
  }

  .banner-nav-sp {
    display: block;
    height: auto;

    ul {
      list-style: none;

      li {
        width: 100%;
        position: relative;

        img {
          width: 100%;
        }

        a {
          background-color: rgba(0, 0, 0, 0.9);
          width: 80%;
          height: 100%;
          /* float: right; */
          padding: 50px 10px;
          text-decoration: none;
          color: #ccc;
          font-size: 1.5rem;
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }

    .banner-nav-sp,
    .inner-banner {
      display: none;
    }

    .banner-nav {
      display: inline-flex;
      margin-top: 30px;
      background: #000;
      transform: scaleY(0);

      .nav {
        display: block;
        height: 100%;

        &:not(:first-child) {
          margin-left: -80px;
        }

        a {
          text-decoration: none;
          color: $primary;
          width: 171px;
        }

        img {
          -ms-transform: skewX(13deg); /* IE 9 */
          -webkit-transform: skewX(13deg); /* Safari prior 9.0 */
          transform: skewX(13deg); /* Standard syntax */
          width: 100%;
        }

        span {
          height: 50px;
          display: block;
          text-align: center;
          font-size: 0.95rem;
          background: white;
          margin-left: 80px;
        }

        .nav-hover {
          -ms-transform: skewX(-13deg); /* IE 9 */
          -webkit-transform: skewX(-13deg); /* Safari prior 9.0 */
          transform: skewX(-13deg); /* Standard syntax */
          transition-timing-function: ease-in;
          transition: 0.2s;
          opacity: 0.3;

          &:hover {
            transform: scale(1);
            transform: skewX(-13deg);
          }
        }
      }
    }

    .content-dqr,
    .content-lob1,
    .content-inbound-voice,
    .content-inbound-chat,
    .content-lob5,
    .content-lob6 {
      background-size: cover !important;
      height: 100%;
      margin-top: 50px;
      border: 3px solid $secondary;
      display: flex;
      justify-content: flex-end;
    }

    .content-dqr {
      background: url("../images/Maxima-Exterior.jpg") no-repeat;
    }

    .content-lob1 {
      background: url("../images/Altima-Exterior.jpg") no-repeat;
    }

    .content-inbound-voice {
      background: url("../images/Murano-Exterior.jpg") no-repeat;
    }

    .content-inbound-chat {
      background: url("../images/Rogue-Exterior.jpg") no-repeat;
    }

    .content-lob5 {
      background: url("../images/Sentra-Exterior.jpg") no-repeat;
    }

    .content-lob6 {
      background: url("../images/Titan-Exterior.jpg") no-repeat;
    }

    .selection {
      background-color: rgba(0, 0, 0, 0.9);
      max-width: 550px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-right: 66px;

      p {
        margin-left: 20px;
        color: #c90c41;
        display: block;
        font-size: 2rem;
        font-weight: 600;
        width: 50%;
        line-height: 21px;
      }
      span {
        color: $primary;
        font-size: 1rem;
        font-weight: 200;
      }

      .selection-wheel {
        color: white;

        ul {
          margin-left: 50px;

          li {
            margin-left: 30px;
            font-size: 1rem;
            padding: 3px 0px 3px 10px;
            list-style: none;
            position: relative;
            margin: 1.144rem;

            span {
              font-size: 0.75rem;
            }

            &:before {
              content: "";
              background: url(../images/Nissan_VisualLearnMap_wheelicon.png);
              height: 59px;
              width: 59px;
              position: absolute;
              left: -70px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1028px;
    }

    h1 {
      display: block;
    }

    .banner-nav-sp {
      display: none;
    }
  }
}
