$primary: #ccc;
$secondary: #606060;
body {
  border-top: red 3px solid;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  max-width: 1028px;
  margin: 0 auto;
}

header {
  position: relative;
  overflow: hidden;
  display: flex;

  h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: $primary;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
  }
}

.banner-nav {
  position: relative;
  display: flex;
  width: 100%;
  color: $primary;
  margin-top: 14px;

  img {
    width: 100%;
  }
}

.nav:not(:first-child) {
  margin-left: -80px;
  -ms-transform: skewX(-15deg); /* IE 9 */
  -webkit-transform: skewX(-15deg); /* Safari prior 9.0 */
  transform: skewX(-15deg); /* Standard syntax */
}

.nav:not(:first-child) img,
.nav:not(:first-child) span {
  -ms-transform: skewX(15deg); /* IE 9 */
  -webkit-transform: skewX(15deg); /* Safari prior 9.0 */
  transform: skewX(15deg); /* Standard syntax */
}

.nav span {
  height: 50px;
  display: block;
  text-align: center;
}

.content-dqr {
  background: url("../images/Nissan_VisualLearnMap_lob4-coursemenu.png")
    no-repeat;
  background-size: contain;
  height: auto;
  margin-top: 50px;
  border: 3px solid $secondary;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: flex-end;
}

.selection-dqr {
  background-color: rgba(0, 0, 0, 0.9);

  max-width: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 66px;

  p {
    margin-left: 20px;
    color: #c90c41;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    width: 50%;
    line-height: 21px;
  }
  span {
    color: $primary;
    font-size: 1rem;
    font-weight: 200;
  }

  .selection-wheel {
    color: white;

    ul {
      margin-left: 50px;

      li {
        // list-style-image: url(../images/Nissan_VisualLearnMap_wheelicon.png);
        margin-left: 30px;
        font-size: 1rem;
        padding: 3px 0px 3px 10px;
        list-style: none;
        position: relative;
        margin: 1.144rem;

        span {
          font-size: 0.75rem;
        }

        &:before {
          content: "";
          background: url(../images/Nissan_VisualLearnMap_wheelicon.png);
          height: 59px;
          width: 59px;
          position: absolute;
          left: -70px;
        }
      }
    }
  }
}
